<template>
  <div>
    <h2>Crédit / A propos</h2>
    <p>
      Créé par <a target="_blank" href="http://www.joseph-lemoine.fr/">Joseph Lemoine</a>, fondateur de
      <a href="https://www.ludi.cat">Ludicat</a> et 
      <a href="https://www.code-418.fr">Code 418</a>
    </p>
    
    <div>
      <b-button target="_blank" href="https://gitlab.com/jlemoine/vehicle-cost-calculator" variant="warning">
        <font-awesome-icon :icon="['fab', 'gitlab']"/> Code source du projet
      </b-button>
    </div>

    <hr class="my-3">
    
    <h3>Pourquoi ce calculateur</h3>
    <p>
      La mobilité est un coût conséquent, j'avais l'habitude de garder 300€ par mois pour
      mon budget auto depuis des années mais récemment j'ai eu le débat avec un amis.
      On en est rapidement venu à la conclusion que de nombreux facteurs font le prix
      réel d'une voiture. L'entretien, le crédit, LOA / LDD, les assurances... Et le carburant.
    </p>
    <p>
      Le débat à fini par dériver sur la rentabilité non pas des voitures mais des scooters
      électriques, et d'au bout de combien de temps ceux-ci sont plus rentable que des scooters
      thermique.
    </p>
    <p>
      Et bien en guise d'exercice je vous laisse formuler les hypothèses pour vous rendre compte
      d'à quel point ce type de véhicule est pertinent en ville !
    </p>
    
    <h3>Limites</h3>
    <p>
      Cet outil n'a pas pour vocation de dire si l'usage d'une voiture est pertinent ou non.
      Il n'évalue que le coût à l'usage en établissant des moyennes.
    </p>
    <p>
      Cet outil n'a aucune considération des effets environnementaux de la voiture.
      Vous trouvez à cet effet <a href="https://jlemoine.gitlab.io/ve-green-tool/" target="_blank">cet outil</a>
      que j'ai réalisé avant de voir qu'il existait déjà <a href="https://climobil.connecting-project.lu/?batteryLifetime=240000&batteryCapacity=30&greenhouseGas=172&electricCarRange=250&carbonElectricityMix=300&greenhouseBattery=30&greenhouseWTT=25&greenhouseTTW=150&batteryPenalty=0.9&annualMileage=20000&ICECurb=1551&ECurb=1977&NEDCpenalty=0.39&decarbonization=0">
      celui-ci</a> beaucoup plus complet.
    </p>
    
    <h3>Conclusions</h3>
    <p>
      On peu constater qu'une citadine établie une moyenne à 0.20€ le kilomètre.
      L'achat d'un véhicule électrique d'entrée de gamme comme la Zoé n'est rentabilisé qu'au bout de plus de 10 ans, 
      ce qui pose sérieusement la question de la durée de vie du pack de batterie (8 ans garantie 70% de capacité).
      Avec les batteries en location il est toujours plus intéressant financièrement d'acheter une thermique.
    </p>
      <p>Même avec u</p>
    <p>Il sera "toujours" plus intéressant d'acheter un véhicule d'occasion</p>
    <p>Si vous utilisez votre voiture qu'occasionnellement il est plus avantageux de louer.</p>
    
    <h3>Retrouvez-moi sur</h3>
    <div>
      <b-button target="_blank" href="https://www.linkedin.com/in/joseph-lemoine-6a7534187" variant="primary" class="mr-2">
        <font-awesome-icon :icon="['fab', 'linkedin']"/>
      </b-button>
      <b-button target="_blank" href="https://twitter.com/LemoineJoseph" variant="primary" class="mr-2">
        <font-awesome-icon :icon="['fab', 'twitter']"/> @LemoineJoseph
      </b-button>
      <b-button target="_blank" href="https://gitlab.com/jlemoine" variant="warning" class="mr-2">
        <font-awesome-icon :icon="['fab', 'gitlab']"/> @jlemoine
      </b-button>
      <b-button target="_blank" href="https://github.com/Jihell" variant="secondary">
        <font-awesome-icon :icon="['fab', 'github']"/> @jihell
      </b-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'About'
}
</script>

<style scoped lang="scss">
  
</style>
