<template>
  <div class="create">
    <VehicleForm :vehicle="null" :id="null" />
  </div>
</template>

<script>
import VehicleForm from './VehicleForm'

export default {
  name: 'Create',
  data () {
    return {
    }
  },
  components: {
    VehicleForm,
  },
}
</script>

<style scoped lang="scss">
  .graph-years {
    max-width: 50px;
  }
  .detail-list {
    span, strong {
      display: block;
      width: 100%;
    }
  }
</style>
