<template>
  <div class="panel panel-default">
    <h4>
      {{ $t('detail.title', {name: vehicle.name, iteration: iteration}) }}
      <span v-if="sale > 0">
        {{ $t('detail.and_sell', {amount: sale.toFixed(2)}) }}
      </span>
      <span v-else>
        
        {{ $t('detail.and_trash') }}
      </span>
    </h4>

    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th>{{ $t('detail.th.example') }}</th>
        <th class="text-success">&Sigma;</th>
        <th>{{ $t('detail.th.fuel') }}</th>
        <th>{{ $t('detail.th.vehicle') }}</th>
        <th>{{ $t('detail.th.invoices') }}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ $t('detail.exemple.1km') }}</td>
        <td class="text-success">{{ kmPrice.toFixed(2) }} &euro;</td>
        <td>{{ kmFuelPrice.toFixed(2) }} &euro;</td>
        <td>{{ kmCarPrice.toFixed(2) }} &euro;</td>
        <td>{{ kmInvoicePrice.toFixed(2) }} &euro;</td>
      </tr>
      <tr>
        <td>{{ $t('detail.exemple.30km') }}</td>
        <td class="text-success">{{ (kmPrice * 30).toFixed(2) }} &euro;</td>
        <td>{{ (kmFuelPrice * 30).toFixed(2) }} &euro;</td>
        <td>{{ (kmCarPrice * 30).toFixed(2) }} &euro;</td>
        <td>{{ (kmInvoicePrice * 30).toFixed(2) }} &euro;</td>
      </tr>
      <tr>
        <td>{{ $t('detail.exemple.1month') }}</td>
        <td class="text-success">{{ (kmPrice * vehicle.kmTraveled / 12).toFixed(2) }} &euro;</td>
        <td>{{ (kmFuelPrice * vehicle.kmTraveled / 12).toFixed(2) }} &euro;</td>
        <td>{{ (kmCarPrice * vehicle.kmTraveled / 12).toFixed(2) }} &euro;</td>
        <td>{{ (kmInvoicePrice * vehicle.kmTraveled / 12).toFixed(2) }} &euro;</td>
      </tr>
      <tr>
        <td>{{ $t('detail.exemple.198km') }}</td>
        <td class="text-success">{{ (kmPrice * 198).toFixed(2) }} &euro;</td>
        <td>{{ (kmFuelPrice * 198).toFixed(2) }} &euro;</td>
        <td>{{ (kmCarPrice * 198).toFixed(2) }} &euro;</td>
        <td>{{ (kmInvoicePrice * 198).toFixed(2) }} &euro;</td>
      </tr>
      <tr>
        <td>{{ $t('detail.exemple.465km') }}</td>
        <td class="text-success">{{ (kmPrice * 465).toFixed(2) }} &euro;</td>
        <td>{{ (kmFuelPrice * 465).toFixed(2) }} &euro;</td>
        <td>{{ (kmCarPrice * 465).toFixed(2) }} &euro;</td>
        <td>{{ (kmInvoicePrice * 465).toFixed(2) }} &euro;</td>
      </tr>
      <tr>
        <td>{{ $t('detail.exemple.1000km') }}</td>
        <td class="text-success">{{ (kmPrice * 1000).toFixed(2) }} &euro;</td>
        <td>{{ (kmFuelPrice * 1000).toFixed(2) }} &euro;</td>
        <td>{{ (kmCarPrice * 1000).toFixed(2) }} &euro;</td>
        <td>{{ (kmInvoicePrice * 1000).toFixed(2) }} &euro;</td>
      </tr>
      <tr>
        <td>{{ $t('detail.exemple.1year') }}</td>
        <td class="text-success">{{ (kmPrice * vehicle.kmTraveled).toFixed(2) }} &euro;</td>
        <td>{{ (kmFuelPrice * vehicle.kmTraveled).toFixed(2) }} &euro;</td>
        <td>{{ (kmCarPrice * vehicle.kmTraveled).toFixed(2) }} &euro;</td>
        <td>{{ (kmInvoicePrice * vehicle.kmTraveled).toFixed(2) }} &euro;</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { SCALE, kmPrice, kmFuelPrice, kmCarPrice, kmInvoicePrice } from '../model/price'

export default {
  name: 'DetailEquivalent',
  props: {
    data: Object,
    vehicle: Object,
    cost: Number,
    sale: Number,
    iteration: Number
  },
  computed: {
    kmPrice () {
      return kmPrice(this.vehicle, this.iteration * SCALE, this.sale)
    },
    kmFuelPrice () {
      return kmFuelPrice(this.vehicle, this.iteration * SCALE)
    },
    kmCarPrice () {
      return kmCarPrice(this.vehicle, this.iteration * SCALE, this.sale)
    },
    kmInvoicePrice () {
      return kmInvoicePrice(this.vehicle, this.iteration * SCALE)
    },
  }
}
</script>

<style scoped>
</style>
