<template>
  <div class="panel panel-default">
    <h4>{{ vehicle.name }}</h4>

    <b-table striped hover
             :items="items" :fields="fields"
             selectedVariant="success"
             :select-mode="'single'"
             :sort-by.sync="sortBy"
             :sort-desc.sync="sortDesc"
             :sort-direction="sortDirection"
             @row-selected="rowSelected">

      <template slot="HEAD_year">
        {{ $t('detail.thead.year') }}
      </template>
      <template slot="HEAD_month">
        {{ $t('detail.thead.month') }}
      </template>
      <template slot="HEAD_growth">
        {{ $t('detail.thead.growth') }}
      </template>
      <template slot="HEAD_total">
        {{ $t('detail.thead.total') }}
      </template>
      <template slot="HEAD_km_total">
        {{ $t('detail.thead.km_total') }}
      </template>
      <template slot="HEAD_km_price">
        {{ $t('detail.thead.km_price') }}
      </template>
      <template slot="HEAD_show_details">
        {{ $t('detail.thead.show_details') }}
      </template>
      
      <template slot="show_details" slot-scope="row">
        <b-button size="sm" @click="row.toggleDetails" class="mr-2" v-if="row.index > 0">
          {{ row.detailsShowing ? 'Hide' : 'Show'}} Analysis
        </b-button>
      </template>
      
      <template slot="growth" slot-scope="data">
        <div v-if="data.item.growth !== undefined">
          {{ data.item.growth }}
          <font-awesome-icon v-if="data.item.change === 1" class="red" icon="long-arrow-alt-up" :transform="{ rotate: 45 }" />
          <font-awesome-icon v-if="data.item.change === -1" class="green" icon="long-arrow-alt-down" :transform="{ rotate: -45 }" />
          <font-awesome-icon v-if="data.item.change === 0" class="gray" icon="equals" />
        </div>
<!--        {{ data.item.growth.toFixed(2) }}-->
      </template>

      <template slot="row-details" slot-scope="row">
        <DetailEquivalent :vehicle="vehicle"
                          :data="row.item"
                          :iteration="row.index"
                          :cost="parseFloat(row.item.total)"
                          :sale="0"/>

        <DetailEquivalent v-if="vehicle.priceSell > 0"
                          :vehicle="vehicle"
                          :data="row.item"
                          :iteration="row.index"
                          :cost="parseFloat(row.item.total)"
                          :sale="parseFloat(vehicle.priceSell)"/>
      </template>
    </b-table>

    {{ selected }}
  </div>
</template>

<script>
import DetailEquivalent from './DetailEquivalent';
import { chartDetail } from "../model/price";

export default {
  name: 'Detail',
  data () {
    return {
      fields: [
          'year',
        'month',
        {key: 'growth', sortable: true},
        'total',
        'km_total',
        {key: 'km_price', sortable: true},
        'show_details'
      ],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      selected: null
    }
  },
  computed: {
    items () {
      return chartDetail(this.vehicle, this.size);
    }
  },
  methods: {
    rowSelected(items) {
      this.selected = items
    }
  },
  props: {
    size: Number,
    vehicle: Object
  },
  components: {
    DetailEquivalent
  },
}
</script>

<style scoped>
  .red {
    color: #b1000a;
  }
  .green {
    color: #2a8837;
  }
  .gray {
    color: #aaa;
  }
</style>
