<template>
  <div>
    <div>
      <b-alert show variant="warning" v-if="0 === vehicles.length">
        <h4 class="alert-heading">{{ $t('home.no_vehicle.title') }}</h4>
        <p>
          {{ $t('home.no_vehicle.detail') }}
        </p>
        <hr/>
        <div>
          <b-button :to="{ name: 'create' }" size="sm" variant="light">
            <font-awesome-icon icon="plus"/>
            {{ $t('home.no_vehicle.cta') }}
          </b-button>
        </div>
      </b-alert>
    </div>
    
    <div v-if="vehicles.length">
      <table class="table table-striped table-borderless">
        <thead>
        <tr>
          <th>
            <div class="input-group">
              <input id="size" name="size"
                     v-validate="`required|integer`"
                     v-model="size"
                     class="form-control graph-years"
                     :class="{'is-invalid': errors.has('size') }">
              <div class="input-group-append">
                <span class="input-group-text">{{ $t('delay.year', {count: size}) }}</span>
              </div>
            </div>
          </th>
          <th v-for="(vehicle, index) in vehicles">
            <div class="vehicle btn-group my-2">
              <b-button :variant="focus === index ? 'outline-success' : 'outline-info'"
                        v-bind:key="'vehicle_btn'+index"
                        @click="select(index)">
                {{ vehicle.name }}
              </b-button>
              <b-button variant="secondary" @click="cancel()"
                        v-if="focus === index && update === index"
                        v-b-popover.hover="$t('action.close')">
                <font-awesome-icon icon="window-close" />
              </b-button>
              <b-button variant="secondary" @click="edit(index)"
                        v-if="focus === index && update !== index"
                        v-b-popover.hover="$t('action.edit')">
                <font-awesome-icon icon="edit" />
              </b-button>
              <b-button variant="danger" @click="remove(index)"
                        v-if="focus === index"
                        v-b-popover.hover="$t('action.delete')">
                <font-awesome-icon icon="trash-alt" />
              </b-button>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>{{ $t('home.summary.total_euro') }}</th>
          <td class="text-center" v-for="(vehicle, index) in vehicles"
              v-bind:key="'vehicle_total_'+index">
            {{ totalCost(vehicle).toFixed(2) }} &euro;
          </td>
        </tr>
        <tr>
          <th>{{ $t('home.summary.total_km') }}</th>
          <td class="text-center" v-for="(vehicle, index) in vehicles"
              v-bind:key="'vehicle_km_'+index">
            {{ vehicle.kmTraveled * size }} Km
          </td>
        </tr>
        <tr>
          <th>&euro; / Km</th>
          <td class="text-center" v-for="(vehicle, index) in vehicles"
              v-bind:key="'vehicle_avg_'+index">
            {{ (totalCost(vehicle) / (vehicle.kmTraveled * size)).toFixed(2) }} &euro; / km
          </td>
        </tr>
        <tr>
          <th>Part voiture</th>
          <td class="text-center" v-for="(vehicle, index) in vehicles"
              v-bind:key="'vehicle_avg_'+index">
            {{ kmCarPrice(vehicle).toFixed(2) }} &euro; / km<br/>
            ({{ (kmCarPrice(vehicle) / kmPrice(vehicle) * 100).toFixed(2) }}) &percnt;
          </td>
        </tr>
        <tr>
          <th>Part Fuel</th>
          <td class="text-center" v-for="(vehicle, index) in vehicles"
              v-bind:key="'vehicle_avg_'+index">
            {{ kmFuelPrice(vehicle).toFixed(2) }} &euro; / km<br/>
            ({{ (kmFuelPrice(vehicle) / kmPrice(vehicle) * 100).toFixed(2) }}) &percnt;
          </td>
        </tr>
        <tr>
          <th>Part Invoices</th>
          <td class="text-center" v-for="(vehicle, index) in vehicles"
              v-bind:key="'vehicle_avg_'+index">
            {{ kmInvoicePrice(vehicle).toFixed(2) }} &euro; / km<br/>
            ({{ (kmInvoicePrice(vehicle) / kmPrice(vehicle) * 100).toFixed(2) }}) &percnt;
          </td>
        </tr>
        </tbody>
      </table>
  
      <hr v-if="update !== null" />
      <VehicleForm v-if="update !== null" :vehicle="update !== null ? vehicles[update] : null" :id="update" />
  
      <hr />
  
      <div v-if="focus === null">
        <Chart :chartData="chartData" :options="options"/>
      </div>
  
      <Detail :vehicle="vehicle"
              :size="size * 12"
              class="col-lg"
              v-if="focus === index"
              v-for="(vehicle, index) in vehicles"
              v-bind:key="'vehicle_detail_'+index" />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Chart from './Chart'
import Detail from './Detail'
import VehicleForm from './VehicleForm'
import { SCALE, chartData, totalCost, kmPrice, kmCarPrice, kmFuelPrice, kmInvoicePrice } from "../model/price";

export default {
  name: 'Home',
  data () {
    return {
      size: 15, // years
      showForm: false,
      options: {
        scales: {
          xAxes: [{
            scaleLabel: {
              display: true,
              labelString: this.$i18n.t('chart.axis.x'),
            }
          }],
          yAxes: [{
            ticks: {
              beginAtZero: false
            },
            scaleLabel: {
              display: true,
              labelString: this.$i18n.t('chart.axis.y'),
            }
          }],
        },
        elements: {
          line: {
            tension: 0
          }
        },
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          colorschemes: {
            scheme: 'brewer.Accent4',
          },
        },
      },
    }
  },
  methods: {
    totalCost (vehicle) {
      return totalCost(vehicle, this.$data.size * SCALE)
    },
    kmPrice (vehicle) {
      return kmPrice(vehicle, this.$data.size * SCALE)
    },
    kmCarPrice (vehicle) {
      return kmCarPrice(vehicle, this.$data.size * SCALE)
    },
    kmInvoicePrice (vehicle) {
      return kmInvoicePrice(vehicle, this.$data.size * SCALE)
    },
    kmFuelPrice (vehicle) {
      return kmFuelPrice(vehicle, this.$data.size * SCALE)
    },
    select (id) {
      id = this.focus === id ? null : id;
      this.$store.dispatch('vehicle/focus', id, {root: true})
    },
    edit (id) {
      this.$store.dispatch('vehicle/update', id, {root: true})
    },
    remove (id) {
      this.$store.dispatch('vehicle/remove', id, {root: true})
    },
    cancel () {
      this.$store.dispatch('vehicle/update', null, {root: true})
    },
  },
  computed: {
    ...mapState({
      vehicles: state => state.vehicle.vehicles,
      update: state => state.vehicle.update,
      focus: state => state.vehicle.focus,
    }),
    chartData () {
      let data = {
        labels: [...Array(parseInt(this.size) + 1).keys()].map(x => x),
        datasets: []
      };

      for (let i in this.vehicles) {
        if (this.vehicles.hasOwnProperty(i)) {
          let dataset = {
            label: this.vehicles[i].name,
            data: chartData(this.vehicles[i], this.size * 12)
          };

          data.datasets.push(dataset)
        }
      }

      return data
    }
  },
  components: {
    Chart,
    Detail,
    VehicleForm,
  },
  mounted() {
    this.$store.dispatch('vehicle/preset', 'zoe', {root: true})
  }
}
</script>

<style scoped lang="scss">
  .graph-years {
    max-width: 50px;
  }
  .detail-list {
    span, strong {
      display: block;
      width: 100%;
    }
  }
</style>
