<template>
    <div id="nav">
        <b-navbar toggleable="lg" type="dark" variant="info">
            <div class="container">
                <b-navbar-brand :to="{ name: 'home' }"
                                v-b-popover.hover="$t('nav.brand')">
                    <font-awesome-icon icon="home" />
                </b-navbar-brand>

                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

                <b-collapse id="nav-collapse" is-nav>
                    <b-navbar-nav class="ml-auto">
                        <b-nav-item :to="{ name: 'home' }">
                            {{ $t('nav.analysis') }}
                        </b-nav-item>
                        <b-nav-form>
                            <b-button :to="{ name: 'create' }" size="sm" variant="light">
                                <font-awesome-icon icon="plus"/>
                                {{ $t('nav.add') }}
                            </b-button>
                        </b-nav-form>
                        <b-nav-item @click="purge">{{ $t('nav.clear') }}</b-nav-item>
                        <b-nav-item @click="reset">{{ $t('nav.reset') }}</b-nav-item>
                        <b-nav-item :to="{name: 'about'}">{{ $t('nav.about') }}</b-nav-item>
                        <b-nav-item @click="dump" v-if="isDev">DUMP</b-nav-item>
                    </b-navbar-nav>
                    <b-dropdown variant="primary" size="sm" 
                                id="ddown1" :right="true" class="m-md-2">
                        <template slot="button-content">
                            <font-awesome-icon icon="globe-europe" />
                            {{ $t('nav.preset.title') }}
                        </template>
                        <b-dd-item-button class="dropdown-item" @click="preset('zoe')">{{ $t("nav.preset.zoe") }}</b-dd-item-button>
                        <b-dd-item-button class="dropdown-item" @click="preset('ice')">{{ $t("nav.preset.ice") }}</b-dd-item-button>
                        <b-dd-item-button class="dropdown-item" @click="preset('ve_ice')">{{ $t("nav.preset.ve_ice") }}</b-dd-item-button>
                        <b-dd-item-button class="dropdown-item" @click="preset('scooter')">{{ $t("nav.preset.scooter") }}</b-dd-item-button>
                    </b-dropdown>
                    <b-dropdown variant="outline-light" size="sm" 
                                id="ddown1" :right="true" class="m-md-2">
                        <template slot="button-content">
                            <font-awesome-icon icon="globe-europe" />
                            {{ $t('nav.locale') }}
                        </template>
                        <b-dd-item-button class="dropdown-item" @click="changeLocal('fr')">{{ $t("nav.fr") }}</b-dd-item-button>
                        <b-dd-item-button class="dropdown-item" @click="changeLocal('en')">{{ $t("nav.en") }}</b-dd-item-button>
                    </b-dropdown>
                </b-collapse>
            </div>
        </b-navbar>
    </div>
</template>

<script>
export default {
  name: 'Nav',
  computed: {
    isDev() {
      return process.env.NODE_ENV !== 'production'
    }
  },
  methods: {
    changeLocal(locale) {
      this.$i18n.i18next.changeLanguage(locale)
    },
    reset() {
      this.$store.dispatch('reset', null, {root: true})
    },
    purge() {
      this.$store.dispatch('vehicle/purge', null, {root: true})
    },
    preset(preset) {
      this.$store.dispatch('vehicle/preset', preset, {root: true})
    },
    dump() {
      console.log(JSON.stringify([...this.$store.state.vehicle.vehicles]));
    }
  }
}
</script>

<style scoped>
</style>
