<template>
  <form id="vehicleForm" @submit.prevent="validateBeforeSubmit">
    <h2 v-if="null === id">{{ $t('form.title.create') }}</h2>
    <h2 v-if="null !== id">{{ $t('form.title.create', {name: vehicle.name}) }}</h2>
    <h3>{{ $t('form.section.general') }}</h3>
    
    <div class="alert alert-warning" v-show="errors.items ? errors.items.length : false">
      {{ $t('form.error.general', {count: errors.items.length}) }}
    </div>

    <div class="row">
      <div class="form-group col">
        <label for="name">
          {{ $t('form.field.general.name') }}
        </label>
        <input id="name" name="name" class="form-control"
               v-validate="'required'" data-vv-delay="250"
               v-model="form.name"
               :class="{'is-invalid': errors.has('name') }">
        <div class="invalid-feedback" v-show="errors.first('name')">
          {{ errors.first('name') }}
        </div>
      </div>
      <div class="form-group col">
        <label for="priceBuy">
          {{ $t('form.field.general.buying_price') }}
        </label>
        <div class="input-group">
          <input id="priceBuy" name="priceBuy" class="form-control"
                 v-validate="'required|integer|min_value:0'" data-vv-delay="250"
                 v-model="form.priceBuy"
                 :class="{'is-invalid': errors.has('priceBuy') }">
          <div class="input-group-append">
            <span class="input-group-text">&euro;</span>
          </div>
          <div class="invalid-feedback" v-show="errors.has('priceBuy')">
            {{ errors.first('priceBuy') }}
          </div>
        </div>
      </div>
      <div class="form-group col">
        <label for="priceSell">
          {{ $t('form.field.general.selling_price') }}
        </label>
        <div class="input-group">
          <input id="priceSell" name="priceSell" class="form-control"
                 v-validate="'required|integer|min_value:0'" data-vv-delay="250"
                 v-model="form.priceSell"
                 :class="{'is-invalid': errors.has('priceSell') }">
          <div class="input-group-append">
            <span class="input-group-text">&euro;</span>
          </div>
          <div class="invalid-feedback" v-show="errors.has('priceSell')">
            {{ errors.first('priceSell') }}
          </div>
        </div>
      </div>
      <div class="form-group col">
        <label for="kmTraveled">
          {{ $t('form.field.general.km_year') }}
        </label>
        <div class="input-group">
          <input id="kmTraveled" name="kmTraveled" class="form-control"
                 v-validate="'required|integer|min_value:0'" data-vv-delay="250"
                 v-model="form.kmTraveled"
                 :class="{'is-invalid': errors.has('kmTraveled') }">
          <div class="input-group-append">
            <span class="input-group-text">Km / Year</span>
          </div>
          <div class="invalid-feedback" v-show="errors.has('kmTraveled')">
            {{ errors.first('kmTraveled') }}
          </div>
        </div>
      </div>
    </div>

    <h3>
      {{ $t('form.section.fuel') }}

      <b-button variant="outline-info" @click="addFuel()">
        <font-awesome-icon icon="plus"/>
      </b-button>
    </h3>
    <div v-for="(fuel, index) in form.fuels" class="row" v-bind:key="'fuel_'+index">
      <div class="form-group col">
        <label :for="'fuel.name_'+index">
          {{ $t('form.field.fuel.name') }}
        </label>
        <input :id="'fuel.name_'+index" :name="'fuel.name_'+index" class="form-control"
               v-validate="'required'" data-vv-delay="250"
               v-model="fuel.name"
               :class="{'is-invalid': errors.has('fuel.name_'+index) }">
        <div class="invalid-feedback" v-show="errors.has('fuel.name_'+index)">
          {{ errors.first('fuel.name_'+index) }}
        </div>
      </div>
      <div class="form-group col">
        <label :for="'fuel.cost_'+index">
          {{ $t('form.field.fuel.cost_unit') }}
        </label>
        <div class="input-group">
          <input :id="'fuel.cost_'+index" :name="'fuel.cost_'+index" class="form-control"
                 v-validate="'required|decimal|min_value:0'" data-vv-delay="250"
                 v-model="fuel.cost"
                 :class="{'is-invalid': errors.has('fuel.cost_'+index) }">
          <div class="input-group-append">
            <span class="input-group-text">&euro;/U</span>
          </div>
          <div class="invalid-feedback" v-show="errors.has('fuel.cost_'+index)">
            {{ errors.first('fuel.cost_'+index) }}
          </div>
        </div>
      </div>
      <div class="form-group col">
        <label :for="'fuel.costGrowth_'+index">
          {{ $t('form.field.fuel.cost_growth') }}
        </label>
        <div class="input-group">
          <input :id="'fuel.costGrowth_'+index" :name="'fuel.costGrowth_'+index" class="form-control"
                 v-validate="'required|decimal'" data-vv-delay="250"
                 v-model="fuel.costGrowth"
                 :class="{'is-invalid': errors.has('fuel.costGrowth_'+index) }">
          <div class="input-group-append">
            <span class="input-group-text">&percnt;</span>
          </div>
          <div class="invalid-feedback" v-show="errors.has('fuel.costGrowth_'+index)">
            {{ errors.first('fuel.costGrowth_'+index) }}
          </div>
        </div>
      </div>
      <div class="form-group col">
        <label :for="'fuel.consumption_'+index">
          {{ $t('form.field.fuel.consumption') }}
        </label>
        <div class="input-group">
          <input :id="'fuel.consumption_'+index" :name="'fuel.consumption_'+index" class="form-control"
                 v-validate="'required|decimal|min_value:0'" data-vv-delay="250"
                 v-model="fuel.consumption"
                 :class="{'is-invalid': errors.has('fuel.consumption_'+index) }">
          <div class="input-group-append">
            <span class="input-group-text">U/100Km</span>
          </div>
          <div class="invalid-feedback" v-show="errors.has('fuel.consumption_'+index)">
            {{ errors.first('fuel.consumption_'+index) }}
          </div>
        </div>
      </div>
      <div class="form-group col">
        <label :for="'fuel.proportion_'+index">
          {{ $t('form.field.fuel.part') }}
        </label>
        <div class="input-group">
          <input :id="'fuel.proportion_'+index" :name="'fuel.proportion_'+index" class="form-control"
                 v-validate="'required|decimal|min_value:0|max_value:100'" data-vv-delay="250"
                 v-model="fuel.proportion"
                 :class="{'is-invalid': errors.has('fuel.proportion_'+index) }">
          <div class="input-group-append">
            <span class="input-group-text">&percnt;</span>
          </div>
          <div class="invalid-feedback" v-show="errors.has('fuel.proportion_'+index)">
            {{ errors.first('fuel.proportion_'+index) }}
          </div>
        </div>
      </div>
      <div class="form-group col-1">
        <label>
          &nbsp;
        </label>
        <div class="input-group">
          <b-button variant="warning" @click="removeFuel(index)">
            <font-awesome-icon icon="trash-alt"/>
          </b-button>
        </div>
      </div>
    </div>

    <h3>
      {{ $t('form.section.invoice') }}

      <b-button variant="outline-info" @click="addInvoice()">
        <font-awesome-icon icon="plus"/>
      </b-button>
    </h3>
    <div v-for="(invoice, index) in form.invoices" class="row" v-bind:key="'invoice_'+index">
      <div class="form-group col">
        <label :for="'invoice.name_'+index">
          {{ $t('form.field.invoice.name') }}
        </label>
        <input :id="'invoice.name_'+index" :name="'invoice.name_'+index" class="form-control"
               v-validate="'required'" data-vv-delay="250"
               v-model="invoice.name"
               :class="{'is-invalid': errors.has('invoice.name_'+index) }">
        <div class="invalid-feedback" v-show="errors.has('invoice.name_'+index)">
          {{ errors.first('invoice.name_'+index) }}
        </div>
      </div>
      <div class="form-group col">
        <label :for="'invoice.cost_'+index">
          {{ $t('form.field.invoice.cost') }}
        </label>
        <div class="input-group">
          <input :id="'invoice.cost_'+index" :name="'invoice.cost_'+index" class="form-control"
                 v-validate="'required|decimal'" data-vv-delay="250"
                 v-model="invoice.cost"
                 :class="{'is-invalid': errors.has('invoice.cost_'+index) }">
          <div class="input-group-append">
            <span class="input-group-text">&euro;</span>
          </div>
          <div class="invalid-feedback" v-show="errors.has('invoice.cost_'+index)">
            {{ errors.first('invoice.cost_'+index) }}
          </div>
        </div>
      </div>
      <div class="form-group col">
        <label :for="'invoice.period_'+index">
          {{ $t('form.field.invoice.type') }}
        </label>
        <select :id="'invoice.periodType_'+index" :name="'invoice.periodType_'+index" class="form-control"
                v-validate="'required'" data-vv-delay="250"
                v-model="invoice.periodType"
                :class="{'is-invalid': errors.has('invoice.periodType_'+index) }">
          <option value="time">Time</option>
          <option value="distance">Distance</option>
        </select>
        <div class="invalid-feedback" v-show="errors.has('invoice.periodType_'+index)">
          {{ errors.first('invoice.periodType_'+index) }}
        </div>
      </div>
      <div class="form-group col">
        <label :for="'invoice.period_'+index">
          {{ $t('form.field.invoice.period') }}
        </label>
        <div class="input-group">
          <input :id="'invoice.period_'+index" :name="'invoice.period_'+index" class="form-control"
                 v-validate="'required|integer|min_value:1'" data-vv-delay="250"
                 v-model="invoice.period"
                 :class="{'is-invalid': errors.has('invoice.period_'+index) }">
          <div class="input-group-append" v-if="invoice.periodType === 'time'">
            <span class="input-group-text">M</span>
          </div>
          <div class="input-group-append" v-if="invoice.periodType === 'distance'">
            <span class="input-group-text">Km</span>
          </div>
          <div class="invalid-feedback" v-show="errors.has('invoice.period_'+index)">
            {{ errors.first('invoice.period_'+index) }}
          </div>
        </div>
      </div>
      <div class="form-group col">
        <label :for="'invoice.periodStart_'+index">
          {{ $t('form.field.invoice.since') }}
        </label>
        <div class="input-group">
          <input :id="'invoice.periodStart_'+index" :name="'invoice.periodStart_'+index" class="form-control"
                 v-validate="'required|integer|min_value:0'" data-vv-delay="250"
                 v-model="invoice.periodStart"
                 :class="{'is-invalid': errors.has('invoice.periodStart_'+index) }">
          <div class="input-group-append" v-if="invoice.periodType === 'time'">
            <span class="input-group-text">M</span>
          </div>
          <div class="input-group-append" v-if="invoice.periodType === 'distance'">
            <span class="input-group-text">Km</span>
          </div>
          <div class="invalid-feedback" v-show="errors.has('invoice.periodStart_'+index)">
            {{ errors.first('invoice.periodStart_'+index) }}
          </div>
        </div>
      </div>
      <div class="form-group col">
        <label :for="'invoice.periodStop_'+index">
          {{ $t('form.field.invoice.until') }}
        </label>

        <div class="input-group">
          <div class="input-group-prepend">
            <b-button size="sm"
                      @click="invoice.havePeriodStop = !invoice.havePeriodStop"
                      :variant="invoice.havePeriodStop ? 'outline-info' : 'light'">
              <font-awesome-icon icon="check" v-if="!invoice.havePeriodStop"/>
              <font-awesome-icon icon="times" v-if="invoice.havePeriodStop"/>
            </b-button>
          </div>
          <input :id="'invoice.periodStop_'+index" :name="'invoice.periodStop_'+index" class="form-control"
                 v-validate="(invoice.havePeriodStop ? 'required|' : '')+'integer|min_value:1'" data-vv-delay="250"
                 v-model="invoice.periodStop"
                 :disabled="!invoice.havePeriodStop"
                 :class="{'is-invalid': errors.has('invoice.periodStop_'+index), 'disabled': !invoice.havePeriodStop }">
          <div class="input-group-append" v-if="invoice.periodType === 'time'">
            <span class="input-group-text">M</span>
          </div>
          <div class="input-group-append" v-if="invoice.periodType === 'distance'">
            <span class="input-group-text">Km</span>
          </div>
          <div class="invalid-feedback" v-show="errors.has('invoice.periodStop_'+index)">
            {{ errors.first('invoice.periodStop_'+index) }}
          </div>
        </div>
      </div>
      <div class="form-group col-1">
        <label :for="'invoice.isRecurrent_'+index">
          {{ $t('form.field.invoice.recurrent') }}
        </label>
        <div class="input-group">
          <b-button :id="'invoice.isRecurrent_'+index" :variant="invoice.isRecurrent ? 'success' : 'default'"
                    @click="invoice.isRecurrent = !invoice.isRecurrent">
            <span v-if="invoice.isRecurrent">{{ $t('form.select.yes') }}</span>
            <span v-if="!invoice.isRecurrent">{{ $t('form.select.no') }}</span>
          </b-button>
        </div>
      </div>
      <div class="form-group col-1">
        <label :for="'invoice.exclude_'+index"
               v-b-popover.hover="$t('form.field.invoice.hide_help')">
          {{ $t('form.field.invoice.hide') }}
        </label>
        <div class="input-group">
          <b-button :id="'invoice.exclude_'+index" :variant="invoice.exclude ? 'warning' : 'default'"
                    @click="invoice.exclude = !invoice.exclude">
            <span v-if="invoice.exclude">{{ $t('form.select.yes') }}</span>
            <span v-if="!invoice.exclude">{{ $t('form.select.no') }}</span>
          </b-button>
        </div>
      </div>
      <div class="form-group col-1">
        <label>
          &nbsp;
        </label>
        <div class="input-group">
          <b-button variant="warning" @click="removeInvoice(index)">
            <font-awesome-icon icon="trash-alt"/>
          </b-button>
        </div>
      </div>
    </div>

    <div class="btn-group">
      <b-button type="submit" v-if="id === null" variant="outline-primary">
        <font-awesome-icon icon="plus"/>
        {{ $t('form.cta.add') }}
      </b-button>

      <b-button v-if="id !== null" variant="outline-success"
                @click="submit">
        <font-awesome-icon icon="check-square"/>
        {{ $t('form.cta.edit') }}
      </b-button>
      <b-button v-if="id !== null" variant="outline-secondary"
                @click="reset">
        <font-awesome-icon icon="window-close"/>
        {{ $t('form.cta.cancel') }}
      </b-button>
    </div>
  </form>
</template>

<script>
  let initialState = function () {
    return {
      id: null,
      name: null,
      priceBuy: null,
      priceSell: null,
      kmTraveled: 15000,
      fuels: [
        {
          name: 'Gas',
          cost: 1.5, // € per unit
          costGrowth: 2, // %
          consumption: 6.5, // Units per 100km
          proportion: 100, // % total mix, must be 100%
        }
      ],
      invoices: [
        {
          name: 'Insurance',
          cost: 450,
          periodType: 'time', // put period in months or KM
          period: 12,
          periodStart: 0, // from start
          havePeriodStop: false,
          periodStop: 0,
          isRecurrent: true,
        },
        {
          name: 'Wheels',
          cost: 250,
          periodType: 'distance',
          period: 30000,
          periodStart: 0, // from start
          havePeriodStop: false,
          periodStop: 0,
          isRecurrent: true,
        },
      ],
    }
  };

  export default {
    name: 'VehicleForm',
    data() {
      return {
        form: initialState(),
      }
    },
    props: {
      id: Number,
      vehicle: Object,
    },
    watch: {
      vehicle: {
        immediate: true,
        handler (val, oldVal) {
          if (null === val) {
            this.form = initialState();
          } else {
            // Clone to avoid reactive update
            this.form = Object.assign({}, val);
          }

        }
      }
    },
    methods: {
      addFuel() {
        this.form.fuels.push({
          name: 'Gas',
          cost: 1.5, // € per unit
          costGrowth: 2, // %
          consumption: 6.5, // Units per 100km
          proportion: 50, // % total mix, must be 100%
        })
      },
      removeFuel(index) {
        this.form.fuels.splice(index, 1)
      },
      addInvoice() {
        this.form.invoices.push({
          name: 'Invoice',
          cost: 500,
          periodType: 'distance',
          period: 15000,
          periodStart: 0, // from start
          isRecurrent: true,
        })
      },
      removeInvoice(index) {
        this.form.invoices.splice(index, 1)
      },
      validateBeforeSubmit: function () {
        let self = this;

        this.$validator.validateAll().then((result) => {
          if (result) {
            self.submit();

            return;
          }
        });

        return false;
      },
      submit() {
        let data = Object.assign({}, this.form);
        if (null === this.id) {
          this.$store.dispatch('vehicle/addVehicle', data, {root: true})
          this.$router.push({name: 'home'})
        } else {
          this.$store.dispatch('vehicle/updateVehicle', data, {root: true})
        }

        this.reset();
      },
      reset() {
        this.errors.clear();
        this.$validator.reset();
        this.$validator.pause();
        this.$store.dispatch('vehicle/update', null, {root: true})
        this.$validator.resume();
      },
    },
  }
</script>

<style scoped lang="scss">
  
</style>
