<template>
  <div class="vehicle">
    {{ vehicle.name }}
  </div>
</template>

<script>
export default {
  name: 'Vehicle',
  methods: {
  },
  props: {
    selected: Boolean,
    vehicle: Object
  }
}
</script>

<style scoped lang="scss">

</style>
