<template>
  <div id="app">
    <Nav></Nav>
    <div class="container my-5">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import Nav from './components/Nav'

export default {
  name: 'app',
  components: {
    Nav
  },
  mounted () {
    // Load google analytics
    var script = document.createElement('script');
    script.src = 'https://www.googletagmanager.com/gtag/js?id='+process.env.VUE_APP_GA_ID;
    script.onload = function () {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', process.env.VUE_APP_GA_ID);
    };
    document.head.appendChild(script);
  }
}
</script>

<style>
#app {
}
</style>
